<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
</head>
<body class="uk-flex uk-flex-column">
<% include partials/header.ejs %>
<main>
    <section class="uk-section uk-section-default">
        <h1 class="uk-heading-primary uk-text-center"><%= title %></h1>
        <p class="uk-padding-small">This is a Student Resource Center App created using Express, Ejs And Mongodb</p>
        <div class="uk-divider-icon"></div>
        <div class="uk-container ">
            <div class="uk-button-group uk-flex uk-flex-center	">
                <a class="uk-button uk-button-secondary" href="/users">View Students</a>
                <a class="uk-button uk-button-primary" href="/register">Register Profile</a>
            </div>
        </div>
    </section>

</main>
<% include partials/footer.ejs %>
</body>
</html>
