<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
</head>
<body class="uk-flex uk-flex-column">
<% include partials/header.ejs %>
<main>
    <section class="uk-section uk-section-default">
        <h2 class="uk-heading-primary uk-heading-bullet uk-heading-divider">Register Profile</h2>
    </section>
    <section class="uk-section">
        <form action="/register" class="uk-form-stacked uk-card uk-container uk-card-body uk-card-secondary" method="post">
            <div>
                <label for="name" class="uk-form-label">Full Name</label>
                <div class="uk-form-controls-text">
                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                    <input type="text" name="name" id="name" class="uk-input" required>
                </div>
            </div>
            <div class="uk-divider-icon"></div>
            <div>
                <label for="dob" class="uk-form-label">Date of Birth</label>
                <div class="uk-form-controls-text">
                    <input type="date" name="dob" id="dob" class="uk-input" required>
                </div>
            </div>
            <div class="uk-divider-icon"></div>
            <div>
                <label class="uk-form-label">Gender</label>
                <div class="uk-flex uk-flex-row uk-margin-left uk-margin-top">
                    <div class="uk-margin-right">
                        <label for="male" class="uk-form-label">Male

                            <input type="radio" name="gender" id="male" class="uk-radio" value="Male">
                        </label>
                    </div>
                    <div>
                        <label for="female" class="uk-form-label">Female
                            <input type="radio" name="gender" id="female" class="uk-radio" value="Female">
                        </label>
                    </div>
                </div>
            </div>
            <div class="uk-divider-icon"></div>
            <div>
                <label for="department" class="uk-form-label">Department</label>
                <div class="uk-form-controls-text">
                    <input type="text" name="department" id="department" class="uk-input" required>
                </div>
            </div>
            <div class="uk-divider-icon"></div>
            <div>
                <label for="email" class="uk-form-label">Email</label>
                <div class="uk-form-controls-text">
                    <input type="email" name="email" id="email" class="uk-input" required>
                </div>
            </div>
            <div class="uk-divider-icon"></div>

            <div>
                <label for="phone" class="uk-form-label">Phone Number</label>
                <div class="uk-form-controls-text">
                    <input type="text" name="phone" id="phone" class="uk-input" required>
                </div>
            </div>
            <div class="uk-divider-icon"></div>
            <div>
                <button type="submit" class="uk-button uk-button-primary">Submit</button>
            </div>
        </form>
    </section>
</main>
<% include partials/footer.ejs %>
</body>
</html>
